body {
  background-image: url(grid.png);
}
#container {
  background-color: blue;
  left: 200px;
  position: absolute;
  top: 200px;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 20px solid grey;
  margin: 20px;
  border-radius: 20px;
  color: white;
}
